*{
    margin: 0;
    padding: 0;
}

div{
    /* height: 80px;
    width: 160px;
    padding: 20px; */
    border: 8px solid red;
    background: yellow;
    display: flex;
    align-items: stretch;
}

.content-box{
    box-sizing: content-box;
    flex-direction: column;
    flex-wrap: wrap;
}

.border-box{
    box-sizing: border-box;
    flex-direction: column;
}